page-death-end {
	ion-header{
		ion-navbar{
			ion-title{
				font-family: "SVNServeticaMedium";
			}
		}
	}
	ion-content{
		width: 100%;
		.scroll-content{
			overflow: hidden;
			padding: 0px !important;
			margin: 0px !important;
			width: 100%;
		}
		padding: 0px !important;
		margin: 0px !important;
		background-image: url(././assets/img/welcome.png);
		background-size:cover;
		img{
			width: 100%;
			padding: 0px !important;
			margin: 0px !important;
		}
	}	
}
