ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-home-location {

	ion-header{
		ion-navbar{
			border-bottom: 1px solid color($colors, border, base);
			width: 100%;
			.toolbar-background-md{
				background-color: color($colors, orangeTool, base);
			}
			.img-wrapper{
				width: 100%;
				img{
					width: 30%;
				    margin-left: 25%;
				    margin-right: 45%;
				}
			}
			
		}
	}
	ion-content{
		width: 100%;
		.scroll-content{
			overflow-y: hidden;	
			padding: 0px !important;
			
			width: 100%;		
			#map {
		        height: 100%;
		        background-color: black;
		    }
		    iframe{
		    	height: 100%;
		    	width: 100%;
		    }
		    .inputLocation{
	    	    width: 100%;				    				    
				margin-top: 10px;
				background-color: transparent;
				position: absolute;
				p{
					margin: auto;
					margin-left: 20px;
				    img{
				    	width: 40%;
				    }
   					
				}
		    	.input-wrapper{
		    		width: 90%;
		    		margin: auto;
		    		border: 1px color($colors,borderSearchBox,base) solid;
				    border-radius: 5px;
			        background-color: white;
			        display: flex;
			        height: 50px;
		    		ion-input{
		    			height: 100%;		    			
	    				z-index: 70;
		    		}
		    		ion-icon{
	    			    width: 40px;
	    			    height: 100%;
					    font-size: 22px;					    
					    margin-top: 10px;
					    margin-right: 5px;
		    		}
		    	}
		    }
		}
		.box-tranform{
			position: absolute;
			bottom: 0;
			background-color: white;
			height: 120px;
			z-index: 100;
			width: 100%;
			display: block;
			.img-wrapper{
				height: 70%;
				img{
					width: 70%;
					margin: 2% 15%;
				}
			}
		}

	}
}
