page-modal-why {
    width: 90% !important;
    height: 92% !important;
    margin-right: 5%;
    margin-left: 5% !important;
    margin-top: 10%;    
    box-shadow: 3px 3px 3px 3px rgb(194,197,199);
    border-radius: 5px;
    ion-content{
	    border-radius: 5px;
    	.scroll-content{
	    	overflow-y: hidden;		
	    	margin: 0px !important;
	    	padding: 0px !important;
            display: block;
	    	.header{
	    		height: 5%;
	    		display: flex;
	    		min-height: 56px;	    		
	    		border-bottom: 1px solid rgb(234,234,234);
                width: 100%;
	    		.text-wrapper{
	    			width: 80%;
	    			margin-left: 20px;
                    font-family: "SVNServeticaMedium";
	    			#text-header{	    				
	    				font-size: 18px;
	    				margin-bottom: 1px;
	    			}
	    			#weight{
	    				
	    				margin-top: 2px;
	    				font-size: 12px;
	    				color: rgb(138,138,138);
	    			}
	    		}
    		}
    		.content{
    			display: block;
    			.message{
    				margin-top: 10px;
    				margin-bottom: 10px;
    				text-align: center;
    				width: 100%;
                    ul{
                        list-style-type: none;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        text-align: left;
                        li{
                            width: 100%;
                            display: flex;
                            border-bottom:  1px solid rgb(234,234,234);
                            .item-name{
                                padding-left: 20px;
                                font-size: 16px;
                                width: 80%
                            }
                            .method-status{
                                float: right;
                                width: 20%;
                                img{    
                                    display: none;                                
                                    height: 89%;
                                    width: 73%;
                                    padding: 12px 15px;
                                }
                            }

                        }
                    }
    			}
    			.button-div{
    				display: flex;
    				float: right;
    				div{
    					margin-right: 20px;
    					margin-left: 20px;
    				}
    				.cancel-btn{
    					p{
    						font-size: 13;
    						color: rgb(173,176,177);
    					}
    				}
    				.take-btn{
    					p{
    						font-size: 13;
    						font-weight: bold;
    					}
    				}
    			}
    		}
    	}
	}
}
